body {
  background-color: #efe7e3; /* 전체 배경색 */
}

.frame {
  margin: 30px 150px; /* 위아래 30px, 양옆 150px margin */
  display: flex;
  flex-direction: column; /* 아래쪽으로 쌓이는 모양 */
}

.box {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

/* navigator */

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: inline;
  align-self: center;
  margin: 0;
  margin-left: 15px; /* work 랑 info 글자사이 띄워두기 */
}

ul {
  margin: 0;
}

.site-name {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #c2b4ab;
}

.nav-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* 폰트 얇게 */
  font-size: 16px;
}

a {
  color: black; /* work랑 info에 있는 하이퍼링크 디자인 없애기 */
  text-decoration: none;
}

a:hover {
  color: white;
  transition: 0.3s; /* 마우스 올렸을때 하얀색으로 바뀌는데 속도감 느리게 조절*/
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.cover {
  display: inline-block;
}

#profile {
  width: 220px;
  border-radius: 50%;
  float: left;
}

.introduc {
  font-size: 22px;
  margin-left: 270px;
  line-height: 2;
  font-family: "Noto Sans KR", sans-serif;
}

.title {
  margin-top: 130px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.mbti {
  font-size: 30px;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.mtitle {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Noto Sans KR", sans-serif;
}

h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}

.mid {
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}

#last {
  margin-bottom: 100px;
}
